.card-single {
    display: block;

    color: var(--text-color-main, #000000);
    font-family: var(--text-family-main, sans-serif);
    font-size: var(--text-size-main, 16px);
    font-weight: var(--text-weight-main, 300);

    line-height: var(--text-line-height-main, 20px);
}

.card-single__image {
    width: 100%;
    height: auto;
    margin-bottom: 20px;

    border: 1px solid var(--gray-light, #D2D7D7);
    border-radius: var(--border-radius-hero-slider, 14px);
}

.card-single__title {
    margin-bottom: 20px;

    font-family: var(--text-family-title, sans-serif);
    font-size: var(--text-size-card, 28px);
    font-weight: var(--text-weight-bold, 600);

    line-height: 1;

    text-align: center;
}

.card-single__description {
    margin-bottom: 20px;

    line-height: var(--text-line-height-specs, 22px);

    text-align: center;
}

@media screen and (max-width: 1440px) {
    .card-single__title {
        font-size: 24px;
    }
}

@media screen and (max-width: 700px) {
    .card-single__title {
        font-size: 20px;
    }
}

