.model-selector {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: start;
    padding: 0 0 0 2px;
    list-style: none;
}

.model-selector__model {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    margin-bottom: 10px;

    border-radius: 5px;

    outline: 1px solid var(--gray-light, #d2d2d2);

    overflow: hidden;
}

.model-selector__model:last-child {
    margin-right: 0;
}

.model-selector__model_active {
    outline: 2px solid var(--black, #000000);
}

.model-selector__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
