.product-specs {
    display: grid;
    grid-template-columns: auto 30%;

    font-family: var(--text-family-main, sans-serif);
    font-size: var(--text-size-main, 16px);
    color: var(--text-color-main, #000000);

    background: var(--white, #FFFFFF);

    border-radius: var(--border-radius-hero-video, 20px);

    box-shadow:  0 2px 8px rgba(26, 26, 26, 0.1);

    overflow: hidden;
}

.product-specs__image {
    width: 100%;

    overflow: hidden;
}

.product-specs__img {
    width: 100%;

    object-fit: cover;
}

.product-specs__title {
    grid-column: span 2;
    margin-bottom: 16px;
    padding-top: 24px;

    text-align: center;

    font-family: var(--text-family-section-title, sans-serif);
    font-size: 24px;
    font-weight: 400;
}

.product-specs__table {
    width: 100%;
    padding: 20px;
}

.product-specs__table-content {
    border-spacing: 0;

    border-collapse: collapse;
}

.product-specs__row:hover {
    background-color: #F0F9FF;
}

.product-specs__th {
    width: 40%;
    padding: 12px 14px 12px 0;

    font-weight: 600;

    text-align: left;

    line-height: 1.6;

    background: #F9FAFB;

    border-bottom: 1px solid #e5e7eb;

    vertical-align: top;
}

.product-specs__row:hover .product-specs__th {
    background-color: #F0F9FF;
}

.product-specs__td {
    padding: 12px 0 12px 14px;

    line-height: 1.6;

    border-bottom: 1px solid #e5e7eb;

    vertical-align: top;
}

@media screen and (max-width: 1150px) {
    .product-specs__th {
        padding: 6px 0 6px 14px;

        line-height: 1.3;

        vertical-align: middle;
    }

    .product-specs__th {
        padding: 6px 14px 6px 0;

        line-height: 1.3;

        vertical-align: middle;
    }
}

@media screen and (max-width: 900px) {
    .product-specs {
        display: block;
    }

    .product-specs__table {
       width: 100%;
    }
}
