.header-contact {
    color: var(--text-color-menu, #656565);
    font-family: var(--text-family-menu, sans-serif);
    font-size: var(--text-size-menu, 14px);
    font-weight: var(--text-weight-semibold, 400);

    text-align: right;
}
.header-contact__link {
    display: inline-block;
    padding: 14px 10px;

    color: var(--text-color-menu, #3C3C3C);

    text-decoration: none;

    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;

    transition: background 0.3s;

    cursor: pointer;
}

.header-contact__link:hover  {
    color: var(--black, #000000);
}

@media screen and (max-width: 970px) {
    /* .header-contact {
        display: none;
    } */
}
