html {
    scroll-behavior: smooth;
    scrollbar-width: thin;
}

html::-webkit-scrollbar {
    width: 8px;
    height: 8px
}

body {
    color: var(--text-color-main, #000000);
    font-family: var(--text-family-main, sans-serif);
    font-size: var(--text-size-main, 14px);
    font-weight: var(--text-weight-main, 300);

    line-height: 1.6;

    background-color: var(--background-color-main, #FFFFFF);

    background-color: #F1F1F1;
}

.hidden {
    display: none !important;
}

.no-scroll {
    overflow: hidden;
}

.main {
    padding-top: 72px;
}

.main__wrapper {
    margin: 0 auto 60px;

    color: var(--text-color-main, #000000);

    text-align: left;
}

.hero-single {
    margin-top: 50px;
}

.grid-image-text {
    margin: 0 auto;
    padding-top: 100px;
}

.flex-image-text {
    margin-bottom: 40px;
}

.single-slider {
    margin: 0 auto;
}

.tiles-images {
    margin: 50px -5px;
    padding-top: 100px;
}

.comparison-images {
    margin-bottom: 30px;
}

.section {
    margin-bottom: 75px;

    scroll-margin-top: 80px;
}

.section-title-page {
    margin-bottom: 20px;
}

.section-p_center {
    margin: 0;

    text-align: center;
}

.block-image {
    margin-top: 50px;
}

.tech-specs {
    margin: 0 auto 100px;
}

.youtube-videos {
    margin: 0 auto 100px;
}

@media screen and (max-width: 1600px) {
    .main {
        padding-top: 70px;
    }
}

@media screen and (max-width: 1440px) {
    .section {
        margin-top: 100px;
    }
}

@media screen and (max-width: 970px) {
    .hero-single {
        margin-top: 0;
    }
}
