.section-title {
    color: var(--gray-deep-dark, #1F2937);
    font-family: var(--text-family-section-title, sans-serif);
    font-size: var(--text-size-section, 42px);
    font-weight: var(--text-weight-extrabold, 700);

    line-height: 1.2;

    text-align: center;
}

@media (max-width: 970px) {
    .section-title {
        font-size: 30px;
        line-height: 40px;
    }
}

@media (max-width: 700px) {
    .section-title {
        font-size: 24px;
        line-height: 30px;
    }
}
