.block-image {
    position: relative;
    width: 100%;
    max-width: var(--max-content-width, 1920px);
    margin: 0 auto;
}

.block-image__image {
    display: block;
    width: 100%;
    height: auto;
}

.block-image__image_blank {
    display: block;
}

.block-image__image_blank-larger {
    display: none;
}

@media (max-width: 768px) {
    .block-image__image_blank {
        display: none;
    }

    .block-image__image_blank-larger {
        display: block;
    }
}
