.reviews-slider {
    position: relative;
    display: block;
    width: 100%;
    max-width: 936px;
    height: auto;
}

.reviews-slider__rating {
    text-align: center;
}

.reviews-slider .rating__star {
    width: 20px;
    height: 20px;
    margin-right: 5px;

    background-color: var(--yellow, #F0C417);
}
