.form {
    display: block;
    width: 100%;
    padding: 0;

    color: var(--text-color-main, #000000);
    font-family: var(--text-family-main, sans-serif);
    font-size: var(--text-size-main, 16px);
    font-weight: var(--text-weight-main, 400);

    line-height: var(--text-line-height-large, 24px);
}

.form__fieldset {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    padding: 0;

    border: 0;
}

.form__legend {
    margin-bottom: 10px;

    font-size: var(--text-size-legend, 18px);
    font-weight: var(--text-weight-bold, 700);

    line-height: 27px;
}

.form__radio-button {
    display: flex;
    flex-wrap: wrap;
    margin-right: 10px;
    margin-bottom: 10px;
}

.form__label {
    min-width: 100px;
    margin: 0;
    padding: 12px;

    font-size: 15px;

    text-align: center;
    line-height: 1.2;

    background-color: var(--white, #FFFFFF);

    border: 3px solid transparent;
    border-radius: var(--border-radius-button, 5px);

    box-shadow: 0 0 0 1px #868A89;

    cursor: pointer;
}

.form__radio {
    appearance: none;
    position: absolute;
    opacity: 0;
}

.form__radio-button .form__radio:checked + .form__label {
    background-color: var(--white, #FFFFFF);
    outline: 2px solid var( --gray-darker, #252525);
    box-shadow: 0 0 0 1 var( --gray-darker, #252525);
}

.form__radio:disabled + .form__label {
    cursor: not-allowed;
    opacity: 0.5;
    box-shadow: none;
    outline: none;
    background-color: var(--background-disabled, #F0F0F0);
    color: var(--text-color-disabled, #999999);
    border-color: transparent;
}

.form__benefits {
    margin-bottom: 30px;
}

@media (max-width: 768px) {
    .form__legend {
        margin-bottom: 12px;

        font-size: var(--text-size-legend_mobile, 16px);

        line-height: 24px;
    }

    .form__radio-group {
        flex-direction: column;
        gap: 12px;
    }
}
