.products__cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;

    flex-wrap: wrap;
}

.products__card {
    width: 24%;
    margin-bottom: 30px;

    border-radius: 4px;

    overflow: hidden;
}

@media (max-width: 900px) {
    .products__card {
        width: 49%;
        margin-bottom: 30px;
    }
}

@media (max-width: 380px) {
    .products__card {
        width: 100%;
    }
}
