.hero-single {
    position: relative;
    width: 100%;
    max-width: 100%;
    /* height: 0;
    padding-top: 56.25%; */

    color: var(--text-color-main, #000000);
    font-family: var(--text-family-main, sans-serif);
    font-size: var(--text-size-main, 16px);
    font-weight: var(--text-weight-main, 400);

    line-height: var(--text-line-height-large, 24px);

    border-bottom: 1px solid var(--gray-light, #D2D7D7);

    /* aspect-ratio: 16 / 9; */
    overflow: hidden;
}

.hero-single__content {
    display: grid;
    grid-template-columns: 64px 50px 726px 50px 470px;
    grid-template-areas: "hero-gallery hero-gap1 hero-images hero-gap2 hero-panel";
}

.hero-single__gallery {
    grid-area: hero-gallery;
    height: 600px;

    overflow-y: auto;

    scrollbar-width: none;
    -ms-overflow-style: none;
}

.hero-single__gallery-nav {
    position: absolute;
    width: 28px;
    height: 28px;
    left: 18px;

    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADgAAAA4CAYAAACohjseAAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAALLSURBVHgB7ZrNaxpBFMAnKpEWDAFD2kZFobCSQyEexI+roAcFC/oPqCcvgnhWUO8W9K5HLwqp4EmQnhREsFBIFRJU/ChEAoKl0ajYeSUrS6DQQ2bsmP2BODN7+jFv3hufe4AwrVZLt16vc3h4gT/HiH0upVJp2GAw9A4e5VpoP8SETLGkQYblPuHJMeZOq9UOZDLZGjHMYrE4HA6HZ9PpVAlRKcFrH+GBWq0esy4HyOXyB9iox+mFRPgA7QmCjTqWoD1HFGQdUZB1REHWEQVZRxRkHVGQdYgJTiYTGfoPICYYDAbVJpOJ63Q6crRDiAhmMhllsVhUNhoNhc1m42COdgQRQdwukPLj0Wh0GAqFdH6/X4N2ABHBaDR6W6vVvqtUqm2XIJfLneK2yAfaIUvsDFosll/VarXj8Xju+DXYTaPReJ5MJk8RJYiWCY7jHgqFQi+RSAwUCsWfPslsNpPGYjGN1+vV0dhNKnUQQrbZbF4JQxaSECSger3+GhGEWqGH3cT9ym8+n++WX4OQtVqt55FI5B0iBPWbTDabHaTT6Z5wN1Op1BmpmrmTq5rdbv/5dO3o6GitVCpX6JmhLlgulxWQSSE8+bVwOPyjUqncnJycPHtnnaoglAeXy8VBJoU5ZFYcrn0comNECGoX4kAgoMbn7w0/hzOIS8i12Wy+RwQhLgiJw+12v8ffr/g1vV5/XyqVriGzIsIQDVGocVDrhHJQJtrt9hUNOYCYIPyCcDgcnDCZxOPxIZQJRBEiIQqFG2obP4dkks/nb5xO5wxRhogg/rd4m+4hmcClm1ZIPoWIINw9u92ufDAYHOKd65Gob/8KsSxK+6z9DbGrxjqiIOuIgqwjCrKOKMg6oiDrvAjBKQxWq5UU7Qnz+XzbQAbBrzDo9/sa4QNWWS6XsvF4/BbGm83m896/lC6BV+9hgBcu0X4AR+4LOIHbb1YyGr4lpBwAAAAAAElFTkSuQmCC) no-repeat;
    background-size: contain;
    border-radius: 1px;

    opacity: 0.8;

    z-index: 1;

    cursor: pointer;
    overflow: hidden;
    transform: rotate(-90deg);
}

.hero-single__gallery-nav:hover {
    background-color: var(--black, #000000);

    opacity: 0.9;
}

.hero-single__gallery-nav_up {
    top: 10px;

    transform: rotate(-90deg);
}

.hero-single__gallery-nav_down {
    top: 552px;

    transform: rotate(90deg);
}

.hero-single__gallery::-webkit-scrollbar {
  display: none;
}

.hero-single__gallery-images {
    margin: 0;
    padding: 0;

    list-style: none;
}

.hero-single__gallery-image {
    width: 100%;
    height: auto;
    margin-bottom: 4px;

    border: 1px solid var(--gray-lighter, #E8E8E1);

    border-radius: var(--border-radius-gallery-image, 3px);

    cursor: pointer;
}

.hero-single__gallery-image:last-child {
    margin-bottom: 0;
}

.hero-single__images {
    grid-area: hero-images;
    width: clamp(475px, 32.34vw + 161.3px, 626px);
    height: 600px;
}

.hero-single__image {
    border: 1px solid var(--off-white, #F5F5F5);

    border-radius: var(--border-radius-hero-image, 10px);

    /* box-shadow: 0 25px rgb(0 0 0 / 10%); */

    overflow: hidden;
}

.hero-single__panel {
    grid-area: hero-panel;

    overflow-y: auto;

    scrollbar-width: none;
    -ms-overflow-style: none;
}

@media screen and (max-width: 1440px) {
    .hero-single__content {
        grid-template-columns: 64px 50px min-content 50px max-content;
    }

    .hero-single__images {
        width: clamp(258px, calc(82.3vw - 459.4px), 726px);
    }

    .hero-single__panel {
        width: clamp(387px, calc(17.7vw + 215.1px), 470px);
    }
}

@media screen and (max-width: 970px) {
    .hero-single {
        padding-top: 0;
    }

    .hero-single__content {
        display: block;
        width: 100%;
        max-width: 100%;
    }

    .hero-single__gallery {
        display: none;
    }

    .hero-single__gallery-nav {
        display: none;
    }

    .hero-single__gallery-image {
        width: 64px;
        height: 64px;
    }

    .hero-single__images {
        width: 100%;
        height: auto;
        padding-bottom: 10px;

        border-bottom: 1px solid var(--gray-light, #D2D7D7);
    }

    .hero-single__panel {
        width: 100%;
    }

    .panel-single__vendor {
        display: none;
    }
}
