.card-product {
    position: relative;;
    display: block;

    color: var(--text-color-main, #000000);
    font-family: var(--text-family-main, sans-serif);
    font-size: var(--text-size-small, 14px);
    font-weight: var(--text-weight-main, 300);

    line-height: var(--text-line-height-small, 18px);

    box-shadow: 0px 5px 20px -8px #0000001F;

    transition: all 0.3s ease-in-out;
}

.card-product:hover {
    box-shadow: 4px 4px 24px rgba(4, 4, 4, 0.1);
}

.card-product__image-img {
    width: 100%;
    height: auto;
}

.card-product__content {
    padding: 20px;

    background-color: var(--white, #FFFFFF);
}

.card-product__title {
    margin-bottom: 20px;

    font-size: var(--text-size-large, 18px);
    font-weight: var(--text-weight-strong, 400);
}

.card-product__description {
    margin-bottom: 20px;
}

.card-product__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card-product__more {
    color: var(--orange, #FFAA36);

    font-weight: normal;

    text-align: right;
}

.card-product:hover .card-product__more {
    text-decoration: underline;
}

@media (max-width: 900px) {
    .card-product__title {
        margin-bottom: 10px;

        font-size: 18px;
    }
}
